*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body,html{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height:100vh;
    width: 100vw;
    background-color: #fff;
}
#page>img{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width:50%;
}
#page>#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    z-index: 9;
    height: 10%;
    width: 100%;
    background-color: #fff;  
}
#page>#nav>img{
    height: 100%;
    border-radius: 10px 30px;
}
#center-nav{
    display: flex;
    gap: 20px;
}
#center-nav>a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
#nav>input{
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
}
#page1{
    height:100vh;
    width: 100vw;
    background-color: indigo;
}