body 
{
    background:url(img/sun3.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;

}
#reg-form
{
    background:linear-gradient(45deg,rgb(13,96,160),rgb(116,79,143),rgb(255,203,0));
    text-align: center;
    width: 350px;
    margin: 100px auto;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow:0 0 10px white;
}
.user-form>input[type="text"],
.user-form>input[type="password"],
textarea
{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 20px 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid ;
}
::placeholder
{
    color: white;
    
}
.user-form>input[type="submit"]
{
    background:linear-gradient(45deg,rgb(13,96,160),rgb(116,79,143),rgb(255,203,0));
    color: white;
    border: none;
    outline: none;
    width:250px;
    padding: 10px 15px;
    border-radius: 10px;
    
}
.user-form>input[type="submit"]:hover
{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}
.fa
{
    color:white;
    font-size: 100px;
    margin-top: -65px;
    border: 3px solid rgb(13,96,160);
    border-radius: 100%;

}