body
{
    background-color: #630636;
}
#res-form
{
    background-color: #3B0420;
    color: white;
    margin: 40px auto;
    padding: 30px 110px;
    width: 500px;
    font-size: 25px; 
    
}
table
{
    width: 100%;
}
tr>td
{
 padding: 10px 0px;
 
 
}
tr>td>input,
tr>td>select,
textarea
{
    padding: 7px 20px;
    font-size: 18px;
}
tr>td>input[type="submit"]
{
    background: white;
    border-radius: 10px;
    color: black;
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 25px;
}